.shadow {
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.artistPoster {
    text-align: center;
    vertical-align: auto;
}

.artistName {  
    margin-bottom: 1rem;
}

.artistInfo {
    margin-bottom: 1rem;
    white-space: pre-wrap;
}

.artistLinks {
    margin: .4rem;
}

.artistWorks {
    margin-top: .4rem;
    text-align: center;
}

.artistWorks h3 {
    font-style: italic;
}

.seizeButton {
    margin: 1rem;
}
